@import url('./customs_properties.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--main-bg);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--soft-bg);
    border-radius: 5px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: 'Inter', sans-serif;
  background: var(--main-bg);
  color: var(--main-color);
}

.container {
  display: flex;
  /* small screen */
  @media (max-width: 480px) {
  }
  /* medium screen */
  @media (max-width: 768px) {
  }
  /* large screen */
  @media (max-width: 1024px) {
  }

  /* xlarge screen */
  @media (max-width: 1200px) {
  }
  /* xxlarge screen */
  @media (max-width: 1440px) {
  }
}

.menuContainer {
  width: 230px;
  padding: 5px 20px;
  margin-top: 70px;

  @media (max-width: 1024px) {
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
